# Practicumopdrachten Week 2.2 (eerste kans)

## Dependencies importeren

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [1]:

import warnings

warnings.simplefilter('ignore')
import pandas as pd

Zet het bestand go_sales.sqlite in hetzelfde mapje als dit notebook.

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite.

In [5]:
import sqlite3
con = sqlite3.connect('Great_Outdoors_Data_SQLite/go_sales.sqlite')

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [8]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(sql_query,con)

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [9]:
staff = pd.read_sql_query("SELECT * FROM sales_staff",con)

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [12]:
sales_staff_code = staff['SALES_STAFF_CODE']
work_phone = staff['WORK_PHONE']
extension = staff['EXTENSION']
fax = staff['FAX']
email = staff['EMAIL']

sales_staff_code.head(),work_phone.head(),extension.head(),fax.head(),email.head()

(0    100
 1    101
 2    102
 3    103
 4    104
 Name: SALES_STAFF_CODE, dtype: object,
 0    +358(0)17 - 433 127
 1          82-2-778-6587
 2          82-2-778-6587
 3        886-2-2975-1988
 4        886-2-2975-1988
 Name: WORK_PHONE, dtype: object,
 0     825
 1    1228
 2    2641
 3    1541
 4    2311
 Name: EXTENSION, dtype: object,
 0    +358(0)17 - 433 129
 1          82-2-778-6586
 2          82-2-778-6586
 3        886-2-2989-4978
 4        886-2-2989-4978
 Name: FAX, dtype: object,
 0    TSavolainen@grtd123.com
 1           CKim@grtd123.com
 2          JChoi@grtd123.com
 3          KKwao@grtd123.com
 4           CFon@grtd123.com
 Name: EMAIL, dtype: object)

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [13]:
contact_details = pd.concat([sales_staff_code,work_phone,extension,fax,email], axis=1)
contact_details.head()

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,100,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com
1,101,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com
2,102,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com
3,103,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com
4,104,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [15]:
top_5_rows = contact_details.head(5)

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [22]:
first_language_list = ['EN'] * 5
first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')
top_5_rows = contact_details.head(5)
top_5_rows = pd.concat([top_5_rows, first_language_series], axis=1)
print(top_5_rows)

  SALES_STAFF_CODE           WORK_PHONE EXTENSION                  FAX  \
0              100  +358(0)17 - 433 127       825  +358(0)17 - 433 129
1              101        82-2-778-6587      1228        82-2-778-6586
2              102        82-2-778-6587      2641        82-2-778-6586
3              103      886-2-2975-1988      1541      886-2-2989-4978
4              104      886-2-2975-1988      2311      886-2-2989-4978

                     EMAIL FIRST_LANGUAGE FIRST_LANGUAGE FIRST_LANGUAGE  \
0  TSavolainen@grtd123.com             EN             EN             EN
1         CKim@grtd123.com             EN             EN             EN
2        JChoi@grtd123.com             EN             EN             EN
3        KKwao@grtd123.com             EN             EN             EN
4         CFon@grtd123.com             EN             EN             EN

  FIRST_LANGUAGE FIRST_LANGUAGE
0             EN             EN
1             EN             EN
2             EN             EN
3             EN             EN
4             EN             EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [29]:
new_staff = {
    'SALES_STAFF_CODE': [6699],
    'FIRST_NAME':['Tony'],
    'LAST_NAME':['Van Gulik'],
    'POSITION_EN':['Baas'],
    'WORK_PHONE':['555-555-5555'],
    'EXTENSION': ['6969'],
    'FAX':[555-555-5555],
    'DATE_HIRED': ['1999-12-31'],
    'SALES_BRANCH_CODE':['69'],
    'TRIAL888':['T'],
    'EMAIL':['Tony@mail.com']
}
pd.concat([staff,pd.DataFrame(new_staff)],ignore_index=True)

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T
...,...,...,...,...,...,...,...,...,...,...,...
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3490,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3364,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1442,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,489,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T
102,6699,Tony,Van Gulik,Baas,555-555-5555,6969,-5555,Tony@mail.com,1999-12-31,69,T

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [31]:
staff_full_name = staff.copy()
staff_full_name['FULL_NAME'] = staff_full_name['FIRST_NAME'] + ' ' + staff_full_name['LAST_NAME']
staff_full_name.head()

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888,FULL_NAME
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,825,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T,Tuomas Savolainen
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1228,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T,Chang-ho Kim
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2641,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T,Jung-ho Choi
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1541,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T,Kwei-Ping Kao
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2311,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T,Chin-Tsai Fang

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [32]:
staff.dtypes

SALES_STAFF_CODE     object
FIRST_NAME           object
LAST_NAME            object
POSITION_EN          object
WORK_PHONE           object
EXTENSION            object
FAX                  object
EMAIL                object
DATE_HIRED           object
SALES_BRANCH_CODE    object
TRIAL888             object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [35]:
staff['EXTENSION'] = staff['EXTENSION'].astype(int)
staff.dtypes

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [34]:
staff['EXTENSION'] = staff['EXTENSION'].astype(float)
staff.dtypes

SALES_STAFF_CODE      object
FIRST_NAME            object
LAST_NAME             object
POSITION_EN           object
WORK_PHONE            object
EXTENSION            float64
FAX                   object
EMAIL                 object
DATE_HIRED            object
SALES_BRANCH_CODE     object
TRIAL888              object
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [37]:
staff['EXTENSION'] += 1
staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,827.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1230.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2643.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1543.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2313.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T
...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,327.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T
98,96,Bayard,Lopes,Branch Manager,+55 (11) 344-4444,3492.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3366.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1444.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,491.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [38]:
staff = staff.replace('Branch Manager','General Manager')
staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,TRIAL888
0,100,Tuomas,Savolainen,Level 2 Sales Representative,+358(0)17 - 433 127,827.0,+358(0)17 - 433 129,TSavolainen@grtd123.com,23-7-2014,31,T
1,101,Chang-ho,Kim,Level 2 Sales Representative,82-2-778-6587,1230.0,82-2-778-6586,CKim@grtd123.com,15-12-2014,32,T
2,102,Jung-ho,Choi,Level 3 Sales Representative,82-2-778-6587,2643.0,82-2-778-6586,JChoi@grtd123.com,27-11-2014,32,T
3,103,Kwei-Ping,Kao,Level 2 Sales Representative,886-2-2975-1988,1543.0,886-2-2989-4978,KKwao@grtd123.com,7-10-2014,33,T
4,104,Chin-Tsai,Fang,Level 3 Sales Representative,886-2-2975-1988,2313.0,886-2-2989-4978,CFon@grtd123.com,8-5-2012,33,T
...,...,...,...,...,...,...,...,...,...,...,...
97,95,Tomás,Iglesias,Level 2 Sales Representative,+35 94 322 3540,327.0,+35 91 548 1637,TIglesias@grtd123.com,19-2-2014,29,T
98,96,Bayard,Lopes,General Manager,+55 (11) 344-4444,3492.0,+55 (11) 333-2223,BLopes@grtd123.com,12-8-2013,30,T
99,97,Viviam,Barros,Level 3 Sales Representative,+55 (11) 344-4444,3366.0,+55 (11) 333-2223,VBarros@grtd123.com,10-2-2017,30,T
100,98,Eduardo,Guimarães,Level 2 Sales Representative,+55 (11) 344-4444,1444.0,+55 (11) 333-2223,EGuimaraes@grtd123.com,14-2-2015,30,T
101,99,Helena,Lindholm,Level 3 Sales Representative,+358(0)17 - 433 127,491.0,+358(0)17 - 433 129,HLindholm@grtd123.com,17-8-2013,31,T

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [40]:
staff = staff.rename(columns = {'POSITION_EN':'POSITION'})

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [44]:
staff = staff.drop([99,100,101])

KeyError: '[99] not found in axis'

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [47]:
staff = staff.drop('FAX',axis=1)